<div class="support-section">
    <h2>💝 応援・支援のお願い</h2>

    <p>子育て中（2歳の娘がいます👶）の合間で制作しました。<br>
        「面白かった！」「応援したいな」と思っていただけた方がいらっしゃれば、<br>
        以下の方法で応援してもらえると開発の励みになります！<br>
        頂いたご支援は、次回作への開発資金や娘の大好きなアンパンマングッズ購入に活用させていただきます🧸✨</p>

    <ul>
        <li>💌 <a href="https://ofuse.me/neruneko" target="_blank">Ofuse</a> （メッセージだけでも嬉しいです！）</li>
        <li>🎁 <a href="https://www.amazon.jp/hz/wishlist/ls/1EITG9RD7ILMM?ref_=wl_share"
                target="_blank">Amazonほしいものリスト</a> 寝ル娘ちゃんにプレゼント！</li>
        <li> <a href="https://giftee.com/u/neruneko" target="_blank">giftee</a></li>
    </ul>
</div>